# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/package-lock.json
test.test
testFile.txt
webServer.log
testFile.html
.vscode/launch.json
.vscode/launch.json
