body
{
    background-image: url('images/05-Holiday-accommodation-in-Gaiole-in-Chianti-S245.jpg') ;
    background-size: cover;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}
