.contextualMenu {
    display:none;
    z-index:80;
    position:absolute;
    background-color: var(--main-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width:135px;
    box-shadow: var(--elevation8dp);
}
.action {
    display:flex;
    flex-direction : row;
    cursor: pointer;
    font-family: 'mainMenuTitleFont';
    font-size: medium;
    text-align: left;
}

.patrolAction,.unitAction {
    height:30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-small;
    text-align: left;
    font-weight: bold;
    padding: 0px 10px;
    cursor: pointer;
}

.patrolAction[data-available="false"],.unitAction[data-available="false"] {
    cursor: default;
    opacity: 0.7;
}

.unitAction[data-available="true"]:hover,.patrolAction[data-available="true"]:hover {
    padding: 0px 5px;
    height: 40px;
    box-shadow: var(--elevation1dp);
    font-size: small;
    background-color: var(--main-color-variant);
}

.actionCost {
    background-image : url("/PA.png");
    background-repeat: no-repeat;
    text-align: center;
    width: 15px;
    height: 20px;
    background-size: contain;
    background-position: center;
    font-weight: bold;
    margin-left: 2px;
    margin-right:5px;
    opacity:0.8;
    padding-top: 4px;
    font-size: medium;
}

.actiontext {
    padding-top: 2px;
}