body {
    background-image : url('/QuiOseGagneFE.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.unit {
    position:absolute;
    width:30px;
    height:30px;
    box-shadow :2px 2px darkGoldenRod;
}

.dragged {
    border: solid 2px darkolivegreen;
}

#mainMenu {
    background-color : rgba(247, 134, 41, 0.7);
}

.minifiedMainMenu {
    height : 30px;
    width : 30px;
    background-image : url('/Hamburger_QOG_icon.png');
    background-size : 100%;
}

.minifiedMainMenu > * {display : none;}

#entete {
    justify-content:space-between;
    align-items: center;
    background-color : rgba(247, 134, 41, 1);
}

#buttonList {
    flex-direction: column;
    align-items: center;
}

#gameBoard {
    position : absolute;
    left : 58px;
    top : 18px;
    z-index : 1;
    height : 90%;
    width : 1100px;
    border-style:solid;
    border-image-source: url('/strategicBorder.png');
    border-image-slice: 30 25 34 25;
    border-image-repeat: round;
    border-image-width: 15px;
    border-image-outset: 15px;
}

.gameBoardHide {
    display:none;
}

.dialogZone {
    height : 50px;
    width : 1100px;
    
    display:flex;
    flex-direction: row;
    align-items: center;
}

.strategicMap {
    width:100%;
    border-style: solid;
    border-image-source: url('/strategicBorder.png');
    border-image-slice: 30 0 0 0;
    border-image-repeat: round;
    border-image-width: 10px 12px 0 8.5px;
    border-image-outset: 10px;
}

.btn-enabled {
    margin : 15px auto;
    box-shadow: 0 8px 16px;
}

.btn-enabled:active {
    box-shadow: 0 2px;
    transform: translateY(1px);
}

.btn-disabled {
    margin : 15px auto;

    cursor: not-allowed;
    opacity: 0.5;
}

@font-face {
    font-family: mainMenuTitleFont;
    src : url('/mainMenuTitle.ttf')format('truetype');
}


.warLetters {
    font-family:mainMenuTitleFont;
}

.maxifiedMainMenu {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width : 200px; 
    height : 250px;
    background-image : none;
    border-radius: 2%;
    z-index:10;
}

.maxifiedMainMenu > * {
    display : flex;
    
}

hr {
    border: 2px solid olive;
    border-radius: 5%;
    margin-top:0px;
  }