body {
    background-image : url('/QuiOseGagneFE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#QOGmap {
    background-image : url('/QOGMap1.jpg'),url('/QOGMap2.jpg');
    height: 80%;
    width: 80%;
}

#mainMenu {
    background-color : rgba(247, 134, 41, 0.7);
}

.minifiedMainMenu {
    height : 30px;
    width : 30px;
    background-image : url('/Hamburger_QOG_icon.png');
    background-size : 100%;
}

.minifiedMainMenu > * {display : none;}

#entete {
    justify-content:space-between;
    align-items: center;
    background-color : rgba(247, 134, 41, 1);
}

#buttonlist {
    flex-direction: column;
}

@font-face {
    font-family: 'mainMenuTitleFont';
    src : url('/mainMenuTitle.ttf')format('truetype');
}

.mainMenuTitle {
    font-family:'mainMenuTitleFont';
}

.maxifiedMainMenu {
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width : 200px; 
    height : 250px;
    background-image : none;
    border-radius: 2%;
}

.maxifiedMainMenu > * {
    display : flex;
}

hr {
    border: 2px solid green;
    border-radius: 5%;
    margin-top:0px;
  }